/* Put your CSS here */
.ember-application {
  margin: 100px;
}

#body-container {
  width: 30%;
  float: left;
  border: thin black solid;
  padding: 10px;
}

#left-container {
  width: 170px;
  float: left;
}

.demo-placeholder {
  width: 200px;
  height: 200px;
}